/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face
    #Mixins


/* #Mixins
================================================== */
/* #Links
================================================== */
a,
a:visited {
  color: #4f77af;
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  -ms-transition: color .3s;
  transition: color .3s;
}
a:hover,
a:focus {
  color: #2f4769;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Site Styles
================================================== */
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
h2 {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}
h2 span {
  font-size: 30px;
}
h3 {
  font-size: 20px;
  line-height: 39px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 6px solid #a7d1e4;
}
h3.twolines {
  line-height: 26px;
  margin-top: -13px;
}
h4 {
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 2px;
}
h4 em {
  float: left;
  margin-right: 10px;
}
h4 span {
  background: #a7d1e4;
  height: 6px;
  width: 214px;
  margin-top: 17px;
  float: left;
}
h4.second span {
  background: #f8ef67;
  width: 188px;
}
h4.third span {
  background: #f0394f;
  width: 200px;
}
p {
  margin-bottom: 24px;
}
ul li {
  line-height: 18px;
  margin-bottom: 6px;
}
ul li.twolines {
  line-height: 22px;
  margin: -1px 0 4px;
}
.mainNav {
  background: url(../../images/texture_bg.jpg) repeat;
  position: fixed;
  top: 1;
  z-index: 5000;
}
.mainNav ul {
  font-size: 14px;
  font-weight: 700;
  margin: 42px 0;
  float: right;
}
.mainNav ul li {
  float: left;
  padding: 0 3px;
  display: inline;
}
.mainNav ul li a {
  color: #3d444e;
}
.mainNav ul li a:hover {
  color: #f0394f;
}
.mainNav .logo {
  margin-top: 8px;
}
.mainNav .logo span {
  display: inline-block;
  *display: inline;
  width: 216px;
  height: 85px;
  background: url(../../images/logo.png) 0 0 no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  zoom: 1;
}
.mainNav .svg .logo span {
  background: none;
}
.sticky {
  position: fixed;
  top: 0;
}
.wrap {
  width: 100%;
  float: left;
}
.row {
  margin-bottom: 22px;
  float: left;
}
.mast h2 {
  margin-bottom: 20px;
}
.mast .four {
  font-size: 13px;
  margin-top: 6px;
}
.mast .four p {
  margin-bottom: 17px;
  clear: both;
}
.mast .four img {
  margin-left: 45px;
}
.mast + .bar {
  height: 48px;
  margin: 18px 0 24px 0;
}
.bioScott {
  background-image: url(../../images/test.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bioScott .columns {
  padding: 67px 0 126px;
}
.bioScott + .bar {
  height: 145px;
  margin-top: -96px;
}
.bioScott + .bar + .bar {
  height: 49px;
  margin-top: -121px;
}
.bioAnnie {
  background: rgba(0, 0, 0, 0.2);
  margin-top: -49px;
}
.bioAnnie .columns {
  padding: 67px 0 42px;
}
.bioAnnie + .bar {
  margin-top: -25px;
}
.clients .container {
  padding-top: 44px;
}
.clients .eight {
  padding-top: 10px;
}
.clients .logoBlock {
  background: #afeeee;
  width: 100%;
  height: 240px;
  margin: -7px 0 24px;
  float: left;
}
.clients .button {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da062a), to(#e0314f));
  background-image: -webkit-linear-gradient(top, #e0314f, #da062a);
  background-image: -moz-linear-gradient(top, #e0314f, #da062a);
  background-image: -ms-linear-gradient(top, #e0314f art, #da062a);
  background-image: -o-linear-gradient(top, #e0314f, #da062a);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  width: 170px;
  height: 50px;
  display: block;
  margin: 11px auto 0;
  border-top: 1px solid #ef92a2;
  border-bottom: 1px solid #91364c;
}
.clients .bar {
  margin-bottom: 18px;
}
.clientsExp {
  margin: -2px 0 -30px;
  display: none;
}
.clientsExp .bar {
  margin-top: 24px;
}
.services .eight {
  padding-top: 50px;
}
.services .four {
  text-align: center;
}
.services .four img {
  margin: 0 auto;
}
.services .one-third {
  margin-top: 11px;
}
.services + .bar {
  height: 5px;
  margin-top: 25px;
}
.services + .bar + .bar {
  height: 39px;
  margin-top: 5px;
}
.specialties {
  margin-top: -25px;
}
.specialties .four {
  margin-bottom: 18px;
}
.specialties .eight {
  padding-top: 69px;
}
.specialties + .bar {
  height: 38px;
  margin-top: 2px;
}
.specialties + .bar + .bar {
  height: 72px;
  margin-top: 10px;
}
.contact {
  background: rgba(0, 0, 0, 0.1);
  height: 760px;
  margin-top: -47px;
}
.contact h1 {
  margin-bottom: 21px;
}
.contact .container {
  padding-top: 92px;
}
.contact + .bar {
  margin-top: -25px;
}
/* #Page Styles
================================================== */
.bar {
  background: rgba(109, 171, 204, 0.4);
  text-align: center;
  width: 100%;
  height: 72px;
  float: left;
  position: relative;
  z-index: 2000;
}
.ltblue h3 {
  border-color: #a7d1e4;
}
.grey h3 {
  border-color: #cdcdcd;
}
.red h3 {
  border-color: #f0394f;
}
.blue h3 {
  border-color: #4f77af;
}
/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}
/* Mobile/Browser */
@media only screen and (max-width: 767px) {
  
}
/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
  
}
/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
  
}
/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
  
}
/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
  
}
