/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */
	
	

/* #Base 960 Grid 
================================================== */

	.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.column, .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.row { margin-bottom: 20px; }
	
	/* Nested Column Classes */
	.column.alpha, .columns.alpha 						{ margin-left: 0; }
	.column.omega, .columns.omega 						{ margin-right: 0; }
	
	.container .one-third.column						{ width: 300px; }
	.container .two-thirds.column						{ width: 620px; }
	
	/*****************************
		12 Column
	*****************************/
	
	/* Base Grid */
    .one.column 					{ width: 60px;  }
    .two.columns 					{ width: 140px; }
    .three.columns 					{ width: 220px; }
    .four.columns 					{ width: 300px; }
    .five.columns 					{ width: 380px; }
    .six.columns 					{ width: 460px; }
    .seven.columns 					{ width: 540px; }
    .eight.columns 					{ width: 620px; }
    .nine.columns 					{ width: 700px; }
    .ten.columns 					{ width: 780px; }
    .eleven.columns 				{ width: 860px; }
    .twelve.columns 				{ width: 940px; }

    /* Offsets */
    .offset-by-one 					{ margin-left: 80px;  }
    .offset-by-two 					{ margin-left: 160px; }
    .offset-by-three 				{ margin-left: 240px; }
    .offset-by-four 				{ margin-left: 320px; }
    .offset-by-five 				{ margin-left: 400px; }
    .offset-by-six 					{ margin-left: 480px; }
    .offset-by-seven 				{ margin-left: 560px; }
    .offset-by-eight 				{ margin-left: 640px; }
    .offset-by-nine 				{ margin-left: 720px; }
    .offset-by-ten 					{ margin-left: 800px; }
    .offset-by-eleven 				{ margin-left: 880px; }

	
	
	
/* #Tablet (Portrait)
================================================== */	

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container { width: 768px; }
		/*.container .column, 
		.container .columns { margin-left: 10px; margin-right: 10px;  }*/
		.column.alpha, .columns.alpha 				{ margin-left: 0; margin-right: 10px; }
		.column.omega, .columns.omega 				{ margin-right: 0; margin-left: 10px; }
	
		.container .one-third.column				{ width: 236px; }
		.container .two-thirds.column				{ width: 492px; }		
		
		/*****************************
			12 Column
			((768/12) - 20) * 1 = 44
		*****************************/
			
	.one.column 				{ width: 44px;  }
	.two.columns 				{ width: 108px; }
	.three.columns 				{ width: 172px; }
	.four.columns 				{ width: 236px; }
	.five.columns 				{ width: 300px; }
	.six.columns 				{ width: 364px; }
	.seven.columns 				{ width: 428px; }	
	.eight.columns 				{ width: 492px; }
	.nine.columns 				{ width: 556px; }
	.ten.columns 				{ width: 620px; }
	.eleven.columns 			{ width: 684px; }
	.twelve.columns 			{ width: 748px; }
		
			
		
		/* Offsets */	
	.offset-by-one 				{ margin-left: 64px;  }
	.offset-by-two 				{ margin-left: 128px; }
	.offset-by-three 			{ margin-left: 192px; }
	.offset-by-four 			{ margin-left: 256px; }
	.offset-by-five 			{ margin-left: 320px; }
	.offset-by-six 				{ margin-left: 384px; }
	.offset-by-seven 			{ margin-left: 448px; }
	.offset-by-eight 			{ margin-left: 512px; }
	.offset-by-nine 			{ margin-left: 576px; }
	.offset-by-ten 				{ margin-left: 640px; }
	.offset-by-eleven 			{ margin-left: 704px; }

	

		

	
	
/*	#Mobile (Portrait) 
================================================== */
	
	/* Note: Design for a width of 320px */
	
	@media only screen and (max-width: 767px) {
		.container { width: 300px; }
		.columns, .column { margin: 0; }
		
		.container .one.column,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns, 
		.container .one-third.column, 
		.container .two-thirds.column  { width: 300px; }
		
		/* Offsets */	
		.container .offset-by-one,				
		.container .offset-by-two, 					
		.container .offset-by-three, 				
		.container .offset-by-four, 					
		.container .offset-by-five, 					
		.container .offset-by-six, 					
		.container .offset-by-seven, 				
		.container .offset-by-eight, 				
		.container .offset-by-nine, 					
		.container .offset-by-ten, 					
		.container .offset-by-eleven, 				
		.container .offset-by-twelve, 				
		.container .offset-by-thirteen, 			
		.container .offset-by-fourteen, 			
		.container .offset-by-fifteen { margin-left: 0; } 			
				
	}	 
	
	
/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container { width: 420px; }
		.columns, .column { margin: 0; }
		
		.container .one.column,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column, 
		.container .two-thirds.column { width: 420px; }
	}
	 
	
/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
	
	/* Use clearfix class on parent to clear nested columns, 
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }
	.row, 
	.clearfix {
	  zoom: 1; }
	  
	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}
	
	
	